.label {  font-family: Arial, Verdana, Tahoma; font-size: 12px; color: #333399}
.value {  font-family: Arial, Verdana, Tahoma; font-size: 12px; color: #333399; font-weight: bold}
.validation_error {  font-family: Tahoma, Arial, Verdana; font-size: 12px; color: #FF0000;  font-weight : bold; }
.error {  font-family: Tahoma, Arial, Verdana; font-size: 12px; color: #FF0000;  font-weight : bold; }
.warning_message  {  font-family: Arial, Verdana, Tahoma; font-size: 11px; color: #CC9900;  font-weight : bold; }
.success_message  {  font-family: Arial, Verdana, Tahoma; font-size: 11px; color: #319C31;  font-weight : bold; }
.title3_txt {  font-family: Verdana, Arial, Tahoma; font-size: 12px; color: #0099CC; font-weight: bold}
.title3_bg {  }
.inner_table {  background-color: #E0E0E0}
.outer_table {  background-color: #006699}
td.menu_title_td {  background-color: #006699; font-family: Arial, Verdana, Tahoma; font-weight: bold; color: #FFFFFF;  font-size : 12px; }
.menu_option {  text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; color: #006699; font-size: 11px}
a:visited {color: #006699 }
a:hover {  color: #CC9900}
td.menu_opt_td { background-color: #E0E0E0}
form {margin-bottom : 0; margin-left : 0; margin-right : 0; margin-top : 0; padding : 0 0 0 0; padding-bottom : 0; padding-left : 0; padding-right : 0; padding-top : 0; }
.results_table_header {  background-color: #006699; font-family: Arial, Verdana, Tahoma; font-weight: bold; color: #FFFFFF;  font-size : 12px; }
.odd_results_table_row {background-color: #E0E0E0; font-family: Verdana, Arial, Tahoma; font-size: 11px;}
.even_results_table_row{background-color: Silver; font-family: Verdana, Arial, Tahoma; font-size: 11px;}
.paging_number_link {text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; color: #006699; font-size: 11px }
.paging_number {text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; color: #006699; font-size: 11px; }
.action_link {text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; color: #006699; font-size: 11px }
.not_available_label {  font-family: Arial, Verdana, Tahoma; font-size: 11px; color: #CC9900;  font-weight : bold; }
.available_label {  font-family: Arial, Verdana, Tahoma; font-size: 11px; color: #319C31;  font-weight : bold; }
.reserved_label {  font-family: Arial, Verdana, Tahoma; font-size: 11px; color: #333399;  font-weight : bold; }
.week_day_label {  font-family: Arial, Verdana, Tahoma; font-size: 11px; color: #00009C;  }
.weekend_day_label {  font-family: Arial, Verdana, Tahoma; font-size: 11px; color: #003163;  }
